// Colors

$color--white: #fff;
$color--grey--lightest: #f0f0f0;
$color--grey--light: #c0c0c0;
$color--grey: #666;
$color--black: #222;
$color--red: #ea1000;
$color--blue: #1d75c7;

// Breakpoints

$mq--tablet: 768px;

// Fonts

$font--opensans: 'Open Sans', 'Arial', sans-serif;
$font--sourcecode: 'Source Code Pro', 'Courier', monospace;
