@import '../../scss/vars.scss';

.Button {
  background-color: $color--black;
  color: $color--white;
  padding: 10px 20px;
  font-family: $font--sourcecode;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: none;
  border: 1px solid $color--black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;

  &.secondary {
    background-color: $color--white;
    border: 1px solid $color--black;
    color: $color--black;

    &:hover {
      background-color: $color--grey--lightest;
    }
  }

  &.large {
    font-size: 18px;
    padding: 15px 40px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    background-color: $color--grey;
  }

  &:focus {
    outline: 0;
  }
}
